/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

/* Root container styles */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 